<a href="https://colab.research.google.com/github/SofiaJeon/AESpractice/blob/master/Kplayground_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
kp_df = pd.read_csv('./Kplayground_v8.csv')

# preprocessing

깨지는 name 제거

In [ ]:
for i, name in enumerate(kp_df.name.tolist()):
    if '' in name:
        print(i, name)

city -> city + district

In [ ]:
cities = list(kp_df.city.drop_duplicates())
cities

['부산광역시 북구',
 '부산광역시 해운대구',
 '부산광역시 중구',
 '부산광역시 연제구',
 '대전광역시 동구',
 '대전광역시 서구',
 '경기도 안산시',
 '경기도 동두천시',
 '경기도 김포시',
 '경기도 고양시',
 '경기도 성남시',
 '경상남도 김해시',
 '광주광역시',
 '인천광역시 미추홀구',
 '인천광역시 남동구',
 '인천광역시 서구',
 '인천광역시 연수구',
 '제주도',
 '울산광역시 중구',
 '울산광역시 남구',
 '울산광역시 울주군']

In [ ]:
city_list = []
district_list = []

for city in cities:
    city_list.append(city.split()[0])
    try:
        district_list.append(city.split()[1])
    except:
        district_list.append('')

In [ ]:
city_dict = {}

for i, city in enumerate(cities):
    city_dict[city] = [city_list[i], district_list[i]]

city_dict

{'부산광역시 북구': ['부산광역시', '북구'],
 '부산광역시 해운대구': ['부산광역시', '해운대구'],
 '부산광역시 중구': ['부산광역시', '중구'],
 '부산광역시 연제구': ['부산광역시', '연제구'],
 '대전광역시 동구': ['대전광역시', '동구'],
 '대전광역시 서구': ['대전광역시', '서구'],
 '경기도 안산시': ['경기도', '안산시'],
 '경기도 동두천시': ['경기도', '동두천시'],
 '경기도 김포시': ['경기도', '김포시'],
 '경기도 고양시': ['경기도', '고양시'],
 '경기도 성남시': ['경기도', '성남시'],
 '경상남도 김해시': ['경상남도', '김해시'],
 '광주광역시': ['광주광역시', ''],
 '인천광역시 미추홀구': ['인천광역시', '미추홀구'],
 '인천광역시 남동구': ['인천광역시', '남동구'],
 '인천광역시 서구': ['인천광역시', '서구'],
 '인천광역시 연수구': ['인천광역시', '연수구'],
 '제주도': ['제주도', ''],
 '울산광역시 중구': ['울산광역시', '중구'],
 '울산광역시 남구': ['울산광역시', '남구'],
 '울산광역시 울주군': ['울산광역시', '울주군']}

In [ ]:
cities = []
districts = []

for i, row in kp_df.iterrows():
    city, district = city_dict[row.city]
    cities.append(city)
    districts.append(district)

In [ ]:
kp_df['city'] = cities
kp_df['district'] = districts

In [ ]:
kp_df = kp_df[['city', 'district', 'name', 'address', 'type']]

In [ ]:
kp_df.to_csv('./Kplayground_v8.csv', index=False)

In [ ]:
kp_df

,city,district,name,address,type
0,부산광역시,북구,음정공원,NaN,public
1,부산광역시,북구,시랑공원,NaN,public
2,부산광역시,북구,포천공원,NaN,public
3,부산광역시,북구,금빛공원,NaN,public
4,부산광역시,북구,건강공원,NaN,public
...,...,...,...,...,...
5429,울산광역시,울주군,울산광역시 울주군 삼남면 울산역로 274 (울산역 신도시 동문굿모닝힐)104동 뒤편,울산광역시 울주군 삼남면 울산역로 274 (울산역 신도시 동문굿모닝힐)104동 뒤편,private
5430,울산광역시,울주군,울산광역시 울주군 청량읍 삼정로 811 (울산덕하신일해피트리)102동 앞 중앙광장 ...,울산광역시 울주군 청량읍 삼정로 811 (울산덕하신일해피트리)102동 앞 중앙광장 ...,private
5431,울산광역시,울주군,울산광역시 울주군 청량읍 삼정로 811 (울산덕하신일해피트리)울산 신일덕하 지역주택...,울산광역시 울주군 청량읍 삼정로 811 (울산덕하신일해피트리)울산 신일덕하 지역주택...,private
5432,울산광역시,울주군,울산광역시 울주군 삼남읍 진장길 144(울산 센트레빌 더 테라스),울산광역시 울주군 삼남읍 진장길 144(울산 센트레빌 더 테라스),private
5433,울산광역시,울주군,울산광역시 울주군 삼남읍 진장길 145(울산 센트레빌 더 테라스),울산광역시 울주군 삼남읍 진장길 145(울산 센트레빌 더 테라스),private

# Address 가져오기

## na, notna 분류

In [ ]:
kp_df_na = kp_df[kp_df.address.isna()].reset_index(drop=True)
kp_df_notna = kp_df[kp_df.address.notna()].reset_index(drop=True)

In [ ]:
kp_df_na.to_csv('./Kplayground_na.csv', index=False, encoding='utf-8-sig')
kp_df_notna.to_csv('./Kplayground_notna.csv', index=False, encoding='utf-8-sig')

## selenium을 이용해서 address crawling

In [ ]:
from urllib.request import urlopen
from urllib import parse
from bs4 import BeautifulSoup

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

In [ ]:
driver = webdriver.Chrome("./chromedriver.exe")

C:\Users\yscho\AppData\Local\Temp\ipykernel_11412\2986097887.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("./chromedriver.exe")

In [ ]:
addrs = []

for i in range(len(kp_df_na)):
    # 검색어
    txt = '{} {} {}'.format(kp_df_na.city.loc[i], kp_df_na.district.loc[i], kp_df_na.name.loc[i])
    
    # 검색어 encoding
    enc = parse.quote(txt)
    
    # url
    url = 'https://map.kakao.com/?q={}'.format(enc)
    
    # selenium, driver가 url로 이동하도록 함
    driver.get(url)
    time.sleep(3) # 3초 term
    bs = BeautifulSoup(driver.page_source, 'html.parser') # driver의 page source를 html로 parsing
    
    # 파싱한 것에서 주소 찾기
    try:
        addr = bs.find_all('div', 'addr')[0].find('p').text
    except:
        # 주소 없으면 nan으로 넣어주기
        addr = np.nan
        
    addrs.append(addr)

In [ ]:
# address 넣어주기
kp_df_na['address'] = addrs

In [ ]:
kp_df_na.to_csv('./Kplayground_na.csv', index=False, encoding='cp949')

In [ ]:
# 검색해도 안 나오는 것들
kp_df_na[kp_df_na.address.isna()]

       city district                   name address     type
43    부산광역시       북구                   구삼공원     NaN   public
64    부산광역시       중구        영주동아9블럭아파트 104동     NaN  private
65    부산광역시       중구         영주동아9블럭아파트 관리동     NaN  private
73    부산광역시      연제구  롯데캐슬 & 태영데시앙 아파트 107동     NaN  private
74    부산광역시      연제구  롯데캐슬 & 태영데시앙 아파트 104동     NaN  private
...     ...      ...                    ...     ...      ...
1183    제주도            제주첨단과학기술단지 꿈에그린 A2블록     NaN  private
1206    제주도                     더오름카운티 연립주택     NaN  private
1208    제주도                  첨단과학기술단지 A23블록     NaN  private
1209    제주도                  첨단과학기술단지 A23블록     NaN  private
1210    제주도                  첨단과학기술단지 A23블록     NaN  private

[151 rows x 5 columns]

# 좌표 가져오기

In [ ]:
import requests
from urllib.parse import urlparse
from tqdm import tqdm

In [ ]:
na = pd.read_csv('./Kplayground_na.csv', encoding='cp949')
notna = pd.read_csv('./Kplayground_notna.csv')

In [ ]:
# 보기 이쁘게 정리하고, 결측치 제거
kp_df = pd.concat([na, notna])
kp_df = kp_df.sort_values(['city', 'district']).reset_index(drop=True)
kp_df = kp_df[kp_df.address.notna()].reset_index(drop=True)

In [ ]:
# 주소에서 위도, 경도 추출 함수 정의
def address_to_latlon(address):
    # query url
    url = "https://dapi.kakao.com/v2/local/search/address.json?&query=" + address
    # api를 사용함. header는 인증키
    result = requests.get(urlparse(url).geturl(),
                          headers={"Authorization":"KakaoAK 5db6804f070497179a3c2db36211672f"})
    json_obj = result.json()
    document = json_obj['documents'][0]
    # 위도, 경도
    val = [document['y'], document['x']]
    return val

In [ ]:
# 함수 테스트
address_to_latlon(kp_df.address[0])

['35.2060878259846', '129.010269169539']

In [ ]:
# address 가져오기
ys = []
xs = []
for addr in tqdm(kp_df.address):
    try:
        y, x = address_to_latlon(addr)
    except:
        y = np.nan
        x = np.nan
    xs.append(x)
    ys.append(y)

100%|██████████████████████████████████████████████████████████████████████████████| 5283/5283 [05:52<00:00, 14.99it/s]

In [ ]:
# x, y 저장
kp_df['x']=xs
kp_df['y']=ys

# 결측치 제거
kp_df = kp_df[kp_df.x.notna()].reset_index(drop=True)

# csv 저장
kp_df.to_csv('./kp_df.csv', index=False, encoding='cp949')